[submodule "cocoa.vim"]
	path = cocoa.vim
	url = git://github.com/msanders/cocoa.vim.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-align"]
	path = vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "gist-vim"]
	path = gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "vim-aspnetide"]
	path = vim-aspnetide
	url = git://github.com/bryanthankins/vim-aspnetide.git
[submodule "closetag.vim"]
	path = closetag.vim
	url = git://github.com/taxilian/closetag.vim.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim-powerline"]
  path = vim-powerline
  url = git://github.com/Lokaltog/vim-powerline.git
[submodule "elm.vim"]
	path = elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim.git
